/* COMMON CSS */

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, sans-serif !important;
}


.pad-10 {
  padding:10px;
}

.pad-20 {
  padding:20px;
}

.pad-30 {
  padding:30px;
}

.pad-40 {
  padding:40px;
}

.pad-top-6 {
  padding-top:6px;
}

.pad-top-10 {
  padding-top:10px;
}

.pad-top-20 {
  padding-top:20px;
}

.pad-top-22 {
  padding-top:22px;
}

.pad-top-30 {
  padding-top:30px;
}

.pad-top-36 {
  padding-top:36px;
}

.pad-top-40 {
  padding-top:40px;
}

.pad-top-50 {
  padding-top:50px;
}

.pad-top-60 {
  padding-top:60px;
}

.pad-top-70 {
  padding-top:70px;
}

.pad-top-80 {
  padding-top:80px;
}

.pad-top-210 {
  padding-top:210px;
}

.pad-bottom-10 {
  padding-bottom: 10px;
}

.pad-bottom-20 {
  padding-bottom: 20px;
}

.pad-bottom-30 {
  padding-bottom:30px;
}

.pad-bottom-40 {
  padding-bottom: 40px;
}

.pad-bottom-50 {
  padding-bottom: 50px;
}

.pad-bottom-60 {
  padding-bottom: 60px;
}

.pad-bottom-70 {
  padding-bottom: 70px;
}

.pad-bottom-80 {
  padding-bottom: 80px;
}

.margin-bottom-0 {
  margin-bottom: 0px;
}

.text-center {
  text-align: center;
}

.fa-instagram:hover {
  background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}





/* NAVBAR CSS */

.fixed-top {
  position: static !important;
  padding-top: 30px !important;
}

.navbar-light .navbar-nav .active>.nav-link {
  color: #fff !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
}

.navbar-light .navbar-brand {
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.navbar-brand {
  font-size: 1.75rem !important;
}

.navbar-pad {
  padding-left: 0px !important;
}

.nav-link:hover {
  color: #333 !important;
}

.navbar-nav {
  flex-direction: row !important;
}

/* HEADER CSS */

.header-container {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,13,34,0.927608543417367) 100%, rgba(0,212,255,1) 100%);
  margin-top:-6%;
}

.about-me-container, .footer-container {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,13,34,0.927608543417367) 100%, rgba(0,212,255,1) 100%);
}

.responsive {
  width: 100%;
  height: auto;
  float:right;
}

.scroll-down {
  text-align: center;
  padding-top:60px;
}

.banner-heading-1 {
  color: #fff;
  padding-top: 140px;
  font-size: 66px;
}

.banner-heading-2 {
  color: #fff;
  padding-top: 20px;
  padding-bottom:60px;
  font-size: 50px;
}

.web-span {
  background: #fff;
  padding:6px;
  color: #333;
  font-weight: bold;
  font-style: italic;;
}

.cv-download {
  padding:16px;
  border:1px solid #fff;
  border-radius: 30px;
  color: #fff;
}

.cv-download:hover {
  padding:16px;
  border:1px solid #fff;
  border-radius: 30px;
  color: #fff;
  text-decoration: none;
  background-color: #242538;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  right:50%;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.know-more {
  display: block;
  text-align: center;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

.know-more:hover {
  text-decoration: none;
  color: #fff;
  /
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

/* ABOUT ME CSS */

.about-me-white-cont {
  background: #fff;
  border-radius: 20px;
  padding-right: 30px !important;
}

.about-heading {
  color: #000;
  line-height: normal;
  font-weight: bold;
}

.professional-heading {
  color: #000;
  line-height: normal;
  font-weight: bold;
  text-align: center;
}

.experience-num {
  font-size: 78px;
  color: #8A10E4;
  text-align: center;
}

.experience-para {
  text-align: center;
}

.services-new-col {
  background: #f7f7f7;
  padding: 30px;
  min-height: 270px;
  cursor: pointer;
  border-radius: 4px;
}

.services-new-col:hover {
  background: #8a10e485;
  padding: 30px;
  min-height: 270px;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
}

.services-new-col:hover  .services-heading h5 {
  color: #fff;
  font-weight: bold;
}

.services-col-space {
  margin-top:20px;
}

.timeline-container {
   width: 80%;
   padding: 50px 0;
   margin: 50px auto;
   position: relative;
   overflow: hidden;
}

.timeline-container:before { /*This is the line down the middle*/
   content: '';
   position: absolute;
   top: 0;
   left: 50%;
   margin-left: -1px;
   width: 2px;
   height: 100%;
   background: #CCD1D9;
   z-index: 1;
}

.timeline-block {
   width: -webkit-calc(50% + 8px);
   width: -moz-calc(50% + 8px);
   width: calc(50% + 8px);
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -moz-box-pack: justify;
   justify-content: space-between;
   clear: both;
}

.timeline-block-right {
   float: right;
}

.timeline-block-left {
   float: left;
   direction: rtl;
}

.marker {
   width: 16px;
   height: 16px;
   border-radius: 50%;
   border: 2px solid #F5F7FA;
   background: #1c5c64;
   margin-top: 10px;
   z-index: 9999;
}

.timeline-content {
   width: 95%;
   padding: 0 15px;
   color: #666
}

.timeline-content h3 {
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 25px;
   font-weight: 500;
}

.timeline-content span {
   font-size: 15px;
   /* color: #a4a4a4; */
}

.timeline-content p {
   font-size: 14px;
   line-height: 1.5em;
   word-spacing: 1px;
   color: #888;
   padding-top:20px;
}


/* SERVICES CSS */

.services-title {
  color:#333;
  text-align: center;
  padding-bottom:30px;
}

.cont-max-width {
    max-width: 1450px !important;
}

.services-container {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,13,34,0.927608543417367) 100%, rgba(0,212,255,1) 100%);
}

.services-col {
    box-shadow: 1px 2px 11px -1px #e7dede;
    /* min-height: 484px; */
    /* border-radius: 16px; */
}

.services-col:hover {
    box-shadow: 4px 2px 17px -1px #e7dede;
    cursor: pointer;
}

.img-center {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
    /* height: 70px; */
    padding-top:68px;
    text-align: center;
}

.services-heading {
  color: #fff;
  text-align: center;
}

.services-content {
  color: #fff;
  text-align: center;
}

.services-sec-row {
  padding-top:40px;
}

.services-col:hover img {
  transition: 0.9s;
  /* transform: rotateY(360deg); */
}

/* PROJECTS CSS */

.projects-container {
  background: #000;
}

.projects-title h2 {
  color:#fff;
  text-align: center;
  padding-bottom:30px;
}

/* FOOTER */

.footer-container {
  background: #fff;
}

.footer-heading {
  color: #000;
  font-weight: bold;
}

.footer-nav {
  padding-right: 20px;
}

/* SCROLL UP CSS */

#scrollup {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  /*background-color: red;  Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#scrollup:hover {
      box-shadow: 1px 0px 8px #fff;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 767px) {

  .navbar-collapse {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,13,34,0.927608543417367) 100%, rgba(0,212,255,1) 100%);
  }

  .navbar {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: :0px !important;
  }

  .navbar-collapse {
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .d-inline-block {
    padding-right: 12px;
  }

  .about-heading {
    text-align: center;
  }

  .header-container {
    margin-top: 0%;
    padding-top:0px !important;
  }

  .banner-heading-1 {
    text-align: center;
    font-size: 24px;
  }

  .banner-heading-2 {
    text-align: center;
    font-size: 20px;
  }

  .banner-col-1 {
    padding-bottom: 90px;
  }

  .mob-center {
    text-align: center;
  }

  .cv-download {
    display: inline-block;
  }

  .web-span {
    padding:0px;
  }

  .services-col-space {
    margin-top:5px;
  }

  .services-new-col {
    margin-bottom: 10px;
  }

  .about-me-white-cont {
    padding-right: 15px !important;
  }

  .timeline-container:before {
     left: 8px;
     width: 2px;
  }
  .timeline-block {
     width: 100%;
     margin-bottom: 30px;
  }
  .timeline-block-right {
     float: none;
  }
  .timeline-block-left {
     float: none;
     direction: ltr;
  }
}

@media only screen and (max-width: 998px) {

    .header-container {
      margin-top: 0% !important;
      padding-top:120px !important;
    }

}
